body {
  background-color: #171820;
}

/* Table */

table {
  margin: 10px;
}

td {
  padding: 25px;
  position: relative;
}

/*---------------------------*/



/* General */

p.button-text {
  font-size: 14px;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.25px;
  display: inline-block;
  text-transform: uppercase;
  margin: 0;
}
/*---------------------------*/



/* Arc.io Button */

.ark-button p {
  margin-top: 30px;
}

.ark-button-size {
  width: 80px;
  height: 80px;
}

.ark-button-front {
  background-color: #345FF2;
  position: relative;
  text-align: center;
}

.ark-button-back {
  background-color: #2F3C69;
  position: absolute;
  bottom: 12px;
  left: 12px;
  z-index: -1;
  transition: all 0.3s ease;
}
/*---------------------------*/



/* Arduino.cc Button */

.arduino-button p {
  margin-top: 15px;
}

.arduino-button-size {
  width: 200px;
  height: 40px;
}

.arduino-button-front {
  background-color: #F39C12;
  box-shadow: 0px 5px 0px #D05500;
  position: relative;
  text-align: center;
  transition: all 0.3s ease;
  top: 0px;
}

.arduino-button-front:hover {
  box-shadow: 0 3px #D05500;
  cursor: pointer;
  top: 3px;
}
.arduino-button-front:active {
  box-shadow: 0 0px 0 #D05500;
  top: 6px;
}
/*---------------------------*/



/* Modern Button */
.modern-button p {
  color: #4CAF50;
  transition: all 0.4s ease;
}

.modern-button {
  border: 1px solid #4CAF50;
  border-radius: 5px;
  background-color: transparent;
  padding: 12px 15px;
  transition: all 0.4s ease;
}

.modern-button:hover p {
  color: #FFF;
}

.modern-button:hover {
  background-color: #4CAF50;
  cursor: pointer;
}

.modern-button:focus {
  outline: 0;
}
/*---------------------------*/



/* Cenfotec Button */
.cenfotec-button p {
  color: #E74529;
  transition: all 0.4s ease;
}

.cenfotec-button {
  border: 1px solid #E74529;
  border-radius: 5px;
  background-color: rgba(231, 69, 41, 0.15);
  padding: 12px 20px;
  transition: all 0.4s ease;
}

.cenfotec-button:hover p {
  color: #FFF;
}

.cenfotec-button:hover {
  color: #FFF;
  background-color: #E74529;
  cursor: pointer;
}

.cenfotec-button:focus {
  outline: 0;
}
/*---------------------------*/



/* Twitter Follow Button */
.follow-button p {
  color: #0277BD;
  transition: all 0.4s ease;
}

.follow-button {
  border: 1px solid #0277BD;
  border-radius: 25px;
  background-color: transparent;
  padding: 8px 25px;
  transition: all 0.4s ease;
}

.follow-button:hover {
  background-color: rgba(2, 119, 189, 0.1);
  cursor: pointer;
}

.follow-button:focus {
  outline: 0;
}
/*---------------------------*/



/* Bottom Left-Right Button */
.bottomLR-button p {
  transition: all 0.3s ease-in-out;
}

.bottomLR-button {
  background-color: transparent;
  border: none;
  display: inline-block;
}

.bottomLR-button::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background-color: #D84315;
  transition: all 0.3s ease-in-out;
}

.bottomLR-button:hover::after {
  width: 100%;
}

.bottomLR-button:hover {
  cursor: pointer;
}

.bottomLR-button:hover p {
  color: rgba(255, 255, 255, 0.6);
}

.bottomLR-button:focus {
  outline: 0;
}
/*---------------------------*/



/* Bottom Left-Right Button */
.backgroundTB-button p {
  transition: all 0.3s ease-in-out;
}

.backgroundTB-button {
  background-color: transparent;
  border: none;
  padding: 15px 2px;
}

.backgroundTB-button {
  cursor: pointer;
}


.backgroundTB-button-container {
  width: 80px;
  height: 0;
  transition: all 0.6s ease;
  background-color: #00897B;
  position: absolute;
  top: 35px;
}

.backgroundTB-button-container:hover {
  background-color: #00897B;
  height: 63px;
}

.backgroundTB-button:focus {
  outline: 0;
}


/*---------------------------*/
